Port 22
ListenAddress 0.0.0.0
PasswordAuthentication yes
PermitRootLogin no
PubkeyAuthentication yes
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
UsePAM no
PrintMotd no
Subsystem sftp internal-sftp
